section{
  min-height: 40vh;
  display: grid;
  place-items: center;
}
.slider{
  height: 300px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track{
  display: flex;
  width: calc(350px*18);
  animation: scroll 40s linear infinite;
}
.slide-track:hover{
  animation-play-state: paused;
}

@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-350px*9));
  }
}

.slide{
  height: 300px;
  width: 350px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
.slide-track img{
  height: 100%;
  width: 100%;
  transition: transform 0.5s;
}
.slide-track img:hover{
  transform: translateZ(15px);
}
.slider::before,
.slider::after{
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 10%;
  z-index: 2;
}
.slider::before{
  left: 0;
  top: 0;
}
.slider::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}